.pic{
    width: 700px;
    margin: 20px auto;
    /*border: solid 1px red;*/
    overflow: hidden;
}
.pic div{
    width: 200px;
    border: solid 1px grey;
    float:left;
    margin-left: 25px;
}
.pic div img{
    display:block;
    width: 100%;
}

.font1{
    color: gainsboro;
    size: A3;
    margin-left: 50px;
    text-align: left;
}

/*a*/
a:link {
    size: 8px;
    color: dimgrey;
    text-decoration: none;
}
a:visited {
    color: dimgrey;
    text-decoration: none;
}
a:hover {
    color: dimgrey;
    text-decoration: none;
}
a:active {
    color: dimgrey;
    text-decoration: none;
}